spring:
  application:
    name: sysgateway
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.0.102:8848 #Nacos服务注册中心地址
    gateway:
      globalcors:
        cors-configurations:
          '[/**]': # 匹配所有请求
            allowedOrigins: "*" #跨域处理 允许所有的域
            allowedMethods: # 支持的方法
              - GET
              - POST
              - PUT
              - DELETE
      routes:
        - id: goods
          uri: lb://goods
          predicates:
            - Path=/goods/**
          filters:
            - StripPrefix= 1
        - id: minio
          uri: lb://minio
          predicates:
            - Path=/minio/**
          filters:
            - StripPrefix= 1
server:
  port: 9101
#hystrix 配置
hystrix:
  command:
    default:
      execution:
        timeout:
          #如果enabled设置为false，则请求超时交给ribbon控制
          enabled: true
        isolation:
          strategy: SEMAPHORE
